/*
    . -> classe;
    # -> id;
    sem nada -> tag html;
*/

.cabecalho__container { /* tem que ser o elemento pai */
    display: flex; /* coloca os elementos um do lado do outro; */
    justify-content: space-between; /* coloca um espaço entre os elementos */
    align-items: center; /* centraliza os elementos na vertical da div */
    position: fixed; /* fixa a posição da div */
    top: 0; /* fixa (position + top) a div no topo */
}

.cabecalho__pesquisar__item {
    display: none; /* não exibe o elemento por padrão */
}

.menu__container {
    position: fixed; /* fixa o elemento */
    bottom: 0%; /* fixa ele na parte inferior */
    height: 74px;
    width: 100%; /* vai ocupar a largura total do elemento pai */
}

.menu__lista {
    display: flex; /* coloca os elementos um do lado do outro; */
    justify-content: space-around; /* ítens distribuídos igualmente com o mesmo espaçamento entre cada linha */
}

.menu__lista li { /* propriedades para elementos-filho */
    align-items: center; /* alinhar central verticalmente, no elemento em si */
}

.menu__itens {
    display: flex;
    flex-direction: column; /* deixa o ícone e o texto desse elemento um em cima do outro, igual o mobile deve ser */
    gap: 5px; /* adicionou um espaçamento entre o ícone e o texto */
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none; /* some com os blocos de lista selecionados */
}

.superior__secao__container {
    display: flex; /* elementos ficam um ao lado do outro */
    align-items: center; /* centraliza os elementos na vertical da div */
    white-space: nowrap; /* os elementos com mais de uma palavra não vão quebrar */
    overflow: scroll; /* adiciona uma barra de rolagem */
    gap: 15px; /* adiciona um gap entre os elementos, e não aplica nas extremidades */
}

.videos__item {
    height: 303px;
    width: 280px;
    flex-basis: 20%; /* procurei isso aqui pra corrigir e deixar a grid em 4 colunas */
    /* aparentemente, ele pega a largura do vh todo, porque se fosse só da grid, faria sentido ser 25% */
    flex-grow: 1; /* o elemento cresce conforme necessário */    
    /* flex-shrink é o contrário de flex-grow, permitindo diminuir o elemento; */
}

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* DESCRIÇÃO VIDEOS */

.descricao-video {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: auto 1fr;
}

.descricao-video img {
    grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    color: #444444;
}

.descricao-video p {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 14px;
    color: #444444;
}

.rodape__container {
    display: flex; /* os elementos ficam em linha */
    /* flex-direction: column; /* os elementos ficam em coluna, na vertical */
    /* flex-wrap: wrap; /* os elementos ficam quebrados, não fica só uma coluna inteira */
    flex-flow: column wrap; /* as duas propriedades acima em uma propriedade só */
}

@media (min-width: 834px) { /* quando a tela for maior que esse tamanho */
    .cabecalho__pesquisar__item {
        display: block; /* aí sim exibe o elemento */
    }
    .rodape__container {
        justify-content: space-between; /* adiciona um espaço entre os elementos */
    }
    /* DESAFIO */
    .menu__container {
        left: 0%; /* fixa ele no lado esquerdo */
        top: 80px;
        width: 74px;
        height: auto;
    }
    .menu__lista {
        flex-direction: column;
        gap: 33px;
        justify-content: flex-start; /* ítens distribuídos igualmente com o mesmo espaçamento entre cada linha */
        padding-top: 15px;
    }
}

@media (min-width: 1440px) {
    .menu__container {
        width: 239px; /* aumentando a largura */
        overflow: scroll; /* adiciona uma barrinha de rolagem */
    }
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex; /* tirando o 'none' que sumia com esses menus nas telas menores */
    }
    .menu__lista {
        height: auto; /* todos os elementos dessa classe estavam com altura de 100%, o que impedia ver o restante do menu, de inscrição etc */
        padding: 20px 17px 20px 17px; /* para que o efeito do hover não vá de extremidade a extremidade */
        gap: 15px; /* cada <li> ainda está muito distante uma da outra, por isso ajuste */
    }
    .menu__itens {
        flex-direction: row; /* mudando porque antes ficava o ícone em cima do texto, agora ele fica do lado */
        gap: 15px; /* adicionando um espaço entre os elementos*/
        align-items: center; /* centralizar horizontalmente ícone com texto */
    }
    .menu__lista:nth-child(3) {
        flex-direction: column-reverse; /* inverte os itens da lista do terceiro bloco */
    }
    .jogos {
        order: 3;
    }
    .filmes {
        order: 2;
    }
    .premium {
        order: 1;
    }
    .maispagina {
        order: 4;
    }
}